*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Heebo';
    font-weight: 400;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.section-1{
    width:100%;
    height:100%;
    background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,0.3)),
    url(images/cv.jpg) center no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.section-1-heading{
    font-size:6rem;
    font-weight: 700;
    color:black;
    padding:0 3rem;
    margin-bottom: 10rem;
    margin-top: 15rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 3px green, 0 0 5px white;
}
.person-img{
    width:25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.7rem double #FFC041;
}
.person-name{
    font-size: 2rem;
    color: black;
    margin-top: 5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 5rem;
    padding: 0 3rem;
}
.section-1-btn{
    font-size:1.7rem;
    font-weight: 700;
    color:black;
    background-color: white;
    padding: 1rem 1rem;
    margin-bottom: 5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.navbar{
    width:100%;
    height: 4rem;
    background-color: black;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    position:absolute;
    z-index:300;
}
.sticky{
    position:fixed;
    top:0;

}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar-link{
    font-size: 1.7rem;
    font-weight: 600;
    color:#eb5a96;
    margin: 0 3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    opacity:1;
}
.navbar-link:hover {
    color:white;
    text-decoration: underline;
    font-size: 2rem;
    transition: 0.5s;
}
.section-2{
    width:100%;
    height:100%;
    padding: 15rem 0 10rem 0;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section-2-heading
{
    text-transform: uppercase;
    font-size:5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid #333;
    color:#333;
    text-shadow: 0.2rem 0.2rem #555;
}
.progress-bars-wrapper{
  margin-bottom: 10rem;   
}
.progress-bar{
    width: 60rem;
    height: 3rem;
    background-color:#ccc;
    margin:1.5rem 0;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 1rem #555;
    position:relative;
}
.progress-text{
    position:absolute;
    left:1rem;
    font-size:1.5rem;
    color:#fff;
}
.progress-text span{
    margin: 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}
.progress-percent{
    width:0;
    height: 100%;
    background-color: #e41c6f;
    border-radius: 0.3rem;
}
.services{
    width: 100%;
    height: 30vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.service:first-child,
.service:last-child{
    align-self: flex-start;
}
.service i{
    font-size: 10rem;
    color:#888;
    margin-bottom: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #555;
}
.services h2{
    font-size: 2rem;
    color: #fff;
    background-color: #888;
    width:15rem;
    text-align: center;
}
.section-3{
    width:100%;
    height: 100%;
    padding : 10rem 0;
    background-color: #eef;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.projects-wrapper{
    width:80%;
    flex-wrap: wrap;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: white;
    box-shadow: .4rem .4rem .4rem #777;
}
.project-text{
    text-align: center;
    letter-spacing: 0.1rem;
}
.project-name{
    font-size: 3rem;
    font-weight: 700;
    color:#333;
    text-transform: capitalize;
}
.project-img{
    width:30rem;
    height:30rem;
    margin: 5rem 5rem;
}
.project-img:hover{
    opacity:0.7;
}
.project-technologies{
    font-size:1.8rem;
    color:#e41c6f;
    margin-top: 0.5rem;
}
.project-link{
    font-size:2rem;
    font-weight: 500;
    color:#333;
    border: .3rem solid #e41c6f;
    background-color: white;
}
.project-link:hover{
    transition:0.3s;
    font-size: 2.5rem;
}
.section-3-heading{
    text-transform: uppercase;
    font-size:5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid #333;
    color:#333;
    text-shadow: 0.2rem 0.2rem #555;
}
.section-5 {
    width:100%;
    height: 30vh;
    background-color: black;
    flex-direction: column;
}
.social-media{
    margin-bottom: 5rem;
}
.social-media-link{
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: #e41c6f;
    border-radius: 0.5rem;
    display:inline-block;
}
.social-media-link i{
    font-size: 3rem;
    color:#fff;
}
.naach{
    margin-top:5rem;
    text-transform: uppercase;
    font-size:5rem;
    margin-bottom: 3rem;
    border-bottom: .3rem solid #333;
    color:white;
    text-shadow: 0.2rem 0.2rem #555; 
}